@charset "UTF-8";
/*Variables*/
/* цвет основного текста #212121 */
/* вторичный текст цвета #757575 */
/* белый цвет текста    #FFFFFF */
/* акцент #2196F3  */
/* цвет фона меню #FFFFFF  */
/* цвет фона футера  #2F303A */
/* цвет фона (визуално белый) #E5E5E5 */
/* цвет фона (визуально серый) #F5F4FA  */
:root {
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --bg-color-footer: #2f303a;
  --bg-color-primary: #e5e5e5;
  --bg-color-secondar: #f5f4fa;
  --timing-func: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto",sans-serif;
  --logo-font: "Raleway",sans-serif;
}

/*Common stylys*/
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
}

/*Utils*/
.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Components*/
.container {
  /* width: 1200px; */
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button__primary {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  transition: background-color 250ms var(--timing-func);
}
.button__primary:hover, .button__primary:focus {
  background-color: #188ce8;
}

.header {
  display: flex;
  border-bottom: 1px solid #eeeeee;
}

.header__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header__container {
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__list {
  /* display: flex; */
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-align: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-func);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
  position: relative;
}
.nav__link--current::after {
  position: absolute;
  content: "";
  display: inline;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
  width: 100%;
  height: 4px;
  right: 0;
}

.contacts {
  /* display: flex; */
  display: none;
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: block;
  text-align: right;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    margin-left: 84px;
  }

  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1199px) {
  .contacts {
    display: flex;
    margin-left: auto;
    flex-direction: row;
  }
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }

  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}
.nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav {
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
  }
}
.nav .header__mobile--btn {
  /* position: fixed; */
  /* top: 10px;
  right: 15px; */
  position: relative;
  z-index: 2;
  border: none;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  background-color: transparent;
  fill: #212121;
  transition: fill 250ms var(--timing-func);
}
@media screen and (min-width: 768px) {
  .nav .header__mobile--btn {
    display: none;
  }
}
.nav .header__mobile--btn:hover .icon-menu,
.nav .header__mobile--btn:hover .icon-close {
  fill: var(--accent-color);
}

.header__mobile--btn .icon-close {
  display: none;
}

.header__mobile--btn.is-open .icon-close {
  display: block;
}

.header__mobile--btn.is-open .icon-menu {
  display: none;
}

.mobile-menu__container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  padding: 48px 40px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow-y: scroll;
}
@media screen and (max-width: 767px) {
  .mobile-menu__container.is-open {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
}

.mobile-menu__nav {
  margin-bottom: 302px;
}

.mobile-menu__nav--item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__nav--link {
  /* display: block; */
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.mobile-menu__nav--link:hover, .mobile-menu__nav--link:focus {
  color: var(--accent-color);
}

.mobile-menu__nav--link--current {
  color: var(--accent-color);
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__contacts--link-tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
  margin-bottom: 32px;
  text-decoration: none;
}

.mobile-menu__contacts--link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-menu__social {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu__social--link {
  display: block;
  padding: 10px;
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.reset {
  padding-left: 0px;
}

.mobile-menu__social--link::after {
  content: " ";
  width: 22px;
  height: 1px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(33, 33, 33, 0.2);
}

.mobile-menu__social--link-res {
  display: block;
  padding: 10px;
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* 
.header__mobile--btn .icon-close {
    display: none;
}


.header__mobile--btn.is-open .icon-close {
    display: block;

}

.header__mobile--btn.is-open .icon-menu {
    display: none;

}

.header__mobile--btn:hover .icon-menu,
.header__mobile--btn:hover .icon-close {
    fill: var(--accent-color);
}




.mobile-menu__container.is-open {


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 8;


@media screen and (min-width: 768px) {
    display: none;
}



    // position: fixed;
}





.mobile-menu__container {
    display: none;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #ffffff;
    padding: 48px 40px;
    overflow-y: scroll;


    @media screen and (min-width: 768px) {
        display: none;
    }


}

.mobile-menu__nav {
    margin-bottom: 302px;
}

.mobile-menu__nav--item:not(:last-child) {
    margin-bottom: 32px;

}

.mobile-menu__nav--link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;

}

.mobile-menu__nav--link--current {
    color: var(--accent-color);
}

.mobile-menu__contacts {
    margin-bottom: 64px;
}

.mobile-menu__contacts--link-tel {

    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    color: var(--accent-color);
    margin-bottom: 32px;
    text-decoration: none;
}

.mobile-menu__contacts--link-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.mobile-menu__social {
    display: flex;
    flex-wrap: wrap;
}

.mobile-menu__social--item {
    margin-right: 10px;
}

.mobile-menu__social--link {

    color: #2196f3;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.mobile-menu__social--link::after {
    content: " ";
    width: 22px;
    height: 1px;
    margin-left: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    color: rgba(33, 33, 33, 0.2) ;

}

 */
/* Hero */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-color-footer);
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_sm.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_lg@2x.jpg);
  }
}

.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 0;
  margin: 0px 0px 30px 0;
}

/* Logo */
.logo {
  font-family: var(--logo-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__accent {
  color: var(--accent-color);
}

.logo__black {
  color: var(--title-text-color);
}

.logo__white {
  color: var(--primary-white-color);
}

@media screen and (min-width: 767px) {
  .nav .logo {
    margin-right: 93px;
  }
}
@media screen and (max-width: 767px) {
  .nav .logo {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

/* Navigation icons */
.contacts__link {
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-func);
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.contacts__icon {
  fill: var(--primary-text-color);
  margin-right: 8px;
  transition: fill 250ms var(--timing-func);
}

.section.feature {
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 120px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .feature__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.feature__thumb {
  background-color: var(--bg-color-secondar);
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .feature__title {
    text-align: center;
  }
}

.feature__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.work.section {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .work.section {
    display: block;
  }
}

.work__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0px;
  margin: 0px 0px 50px 0px;
}

.work__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.work__item {
  margin-right: 30px;
}
.work__item:last-child {
  margin-right: 0;
}

.work__thumb {
  position: relative;
}

.work__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 27px;
}

.team.section {
  background-color: var(--bg-color-secondar);
}

.team__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0px;
  margin: 0px 0px 50px 0px;
}

.team__list {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__name {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 0;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0;
}

.team__item {
  background-color: var(--primary-white-color);
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--secondary-bg-color);
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    width: calc((100% - 120px) / 4);
    margin: 15px;
    padding-bottom: 30px;
  }
}

/*Team`s icons*/
.team__social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  list-style: none;
  padding: 0;
}

.team__social--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social--link:hover, .team__social--link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

.team__social--logo {
  width: 20px;
  height: 20px;
}

.team__social--item {
  margin-right: 10px;
}
.team__social--item:last-child {
  margin-right: 0px;
}

.team__images {
  margin-bottom: 30px;
  display: block;
  max-width: 100%;
  height: auto;
}

/* Клиенты */
.clients__title {
  color: var(--title-text-color);
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
  }
}

.clients__list {
  display: flex;
  list-style: none;
  margin: -15px;
}
@media screen and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
  }
}

.clients__item {
  /*  margin-right: 30px;

   &:last-child {
       margin-right: 0px;
   }

   &--link:hover,
   &--link:focus {
       border-color: var(--accent-color);

       &:hover .clients__logo,
       &:focus .clients__logo {
           fill: var(--accent-color);
       }

   } */
  width: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
}
.clients__item:hover .clients__logo, .clients__item:focus .clients__logo {
  fill: var(--accent-color);
}

.clients__item .clients__item--link {
  display: flex;
  width: 100%;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-func);
  color: 250ms var(--timing-func);
}
.clients__item .clients__item--link:hover, .clients__item .clients__item--link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__logo {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-func);
}

.filter__item {
  justify-content: center;
}
.filter__item:not(last-child) {
  margin-right: 10px;
}
.filter__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .filter__item {
    margin-bottom: 15px;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  /*  justify-content: center;

   margin-bottom: 50px; */
}
@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

.filter__list:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--bg-color-secondar);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  min-width: 73px;
  transition: background-color 250ms var(--timing-func), color 250ms var(--timing-func), box-shadow 250ms var(--timing-func);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Projects */
.project__card {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project__link {
  display: block;
  transition: box-shadow 250ms var(--timing-func);
}
.project__link:hover, .project__link:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__item {
  /* width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  &:nth-child(3n) {
      margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
      margin-bottom: 0;
  } */
}
@media screen and (max-width: 767px) {
  .project__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .project__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .project__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .project__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px;
  }
}

.project__card--title {
  margin-bottom: 4px;
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__card--type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project__link {
  text-decoration: none;
}
.project__link:hover .project__overlay {
  transform: translateY(0%);
}

.project__thumb {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-func);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
}

.projects__images {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: var(--bg-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container.footer__section {
  /*   display: flex;
    align-items: baseline; */
}
@media screen and (min-width: 768px) {
  .container.footer__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .container.footer__section {
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .footer__section--thumb {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__section--thumb {
    margin-right: 165px;
  }
}

.footer__contact {
  margin-top: 20px;
  color: var(--primary-white-color);
  font-style: normal;
}

.footer__contact--mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 9px;
  display: block;
}

.footer__contact--tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 0px;
  display: block;
}

.footer__title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__title {
    text-align: center;
  }
}

.footer__contact {
  margin-bottom: 9px;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer__contact:last-child {
  margin-bottom: 0;
}

.footer_address {
  display: block;
  color: var(--primary-white-color);
  margin-bottom: 9px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer__social {
    margin-bottom: 60px;
    align-items: center;
  }
}

.footer__social--list {
  display: flex;
  justify-content: center;
}

.footer__social--item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer__social--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  cursor: pointer;
  transition: background-color 250ms var(--timing-func), fill 250ms var(--timing-func);
}
.footer__social--link:hover, .footer__social--link:focus {
  background-color: var(--accent-color);
}

.footer__social--icon-logo {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

/* Subscribe */
@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-left: 93px;
  }
}

.footer__subscribe--form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__subscribe--email {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  transition: border-color 250ms var(--timing-func);
}
.footer__subscribe--email:focus {
  border-color: var(--accent-color);
  outline: none;
  color: var(--primary-white-color);
}
@media screen and (max-width: 768px) {
  .footer__subscribe--email {
    margin-bottom: 20px;
  }
}

.footer__subscribe--icon {
  width: 24px;
  height: 24px;
  fill: var(--bg-color-primary);
}

.footer__subscribe--button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  align-self: center;
  margin-left: 12px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms var(--timing-func), visibility 250ms var(--timing-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form--title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.15;
  color: #212121;
  margin-bottom: 12px;
}

.modal__form--icon {
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-func);
}

.modal__form--label {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal__form--input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.13;
  letter-spacing: 0.01em;
}

.modal__form--input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  transition: border 250ms var(--timing-func);
}
.modal__form--input:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}
.modal__form--input:focus + .modal__form--icon {
  fill: var(--accent-color);
}

.modal__form--message {
  height: 120px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}

.modal__form--comments {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__form--icon {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
}

.modal__form--message {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  height: 120px;
  margin-bottom: 20px;
  padding: 16px 12px;
  resize: none;
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms var(--timing-func);
}
.modal__form--message:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.modal__form--checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.modal__form--checkbox-input:checked + .modal__form--checkbox-label::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-position: center;
}
.modal__form--checkbox-input:focus + .modal__form--checkbox-label::before {
  border-color: var(--accent-color);
}

.modal__form--checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.modal__form--checkbox-label::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  vertical-align: middle;
}

.modal__form--policy-link {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  cursor: pointer;
}
.modal__button:focus .modal__button--close, .modal__button:hover .modal__button--close {
  fill: var(--accent-color);
}

.modal__button--close {
  fill: #000000;
  width: 11px;
  height: 11px;
  transition: fill 250ms var(--timing-func);
}

.modal__form--button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;
  width: 200px;
  align-self: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  transition: background-color 250ms var(--timing-func);
}
.modal__form--button:hover, .modal__form--button:focus {
  background: #188CE8;
}/*# sourceMappingURL=main.css.map */