.footer__contact {
    margin-top: 20px;
    color: var(--primary-white-color);
    font-style: normal;
}

.footer__contact--mail {

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-bottom: 9px;
    display: block;
}

.footer__contact--tel {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-bottom: 0px;
    display: block;
}
.footer {
    background-color: var(--bg-color-footer);

    padding-top: 60px;
    padding-bottom: 60px;
}

.container.footer__section {
    display: flex;
    align-items: baseline;
}

.footer__title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}



.footer__contact {
    margin-bottom: 9px;

    display: block;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    &:last-child {
        margin-bottom: 0;
    }
}

.footer_address {
    display: block;
    color: var(--primary-white-color);
    margin-bottom: 9px;

    text-decoration: none;
}


.footer__social {
    margin-left: 70px;
}

.footer__social--list {
    display: flex;
}

.footer__social--item {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

.footer__social--link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #afb1b8;
    cursor: pointer;
    transition: background-color 250ms var(--timing-func),
        fill 250ms var(--timing-func);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
}


.footer__social--icon-logo {
    width: 20px;
    height: 20px;
    fill: var(--primary-white-color);
}