/* Logo */

.logo {
    font-family: var(--logo-font);
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo__accent {
    color: var(--accent-color);
}

.logo__black {
    color: var(--title-text-color);
}

.logo__white {
    color: var(--primary-white-color);
}

.nav .logo {
    margin-right: 93px;
}