  /* Projects */

.project__card {
    width: 370px;
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}



.project__link {
    display: block;
    width: 370px;

    transition: box-shadow 250ms var(--timing-func);

    &:hover,
    &:focus {
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.project__list {
    display: flex;
    flex-wrap: wrap;
}

.project__item {
    width: 370px;

    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
        margin-right: 0;
    }
    
    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}


.project__card--title {
    margin-bottom: 4px;
    margin-top: 0;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project__card--type {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.project__link {
    text-decoration: none;

    &:hover .project__overlay {
        transform: translateY(0%);
    }
}

.project__thumb {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.project__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms var(--timing-func);
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    overflow: auto;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px 63px 24px;
}

