.work.section {
    padding-top: 0;
}

.work__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 0px;
    margin: 0px 0px 50px 0px;
}

.work__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.work__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.work__thumb {
    position: relative;
}

.work__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 27px;
}