
@import "../base/reset";

body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);

    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
}